@model Citus.Education.WebApp.Sample.Models.ViewModels.BankAccountViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<br/>
<br />
<br />

@using (Ajax.BeginForm("EditAjax", 
                new AjaxOptions {
                    HttpMethod = "POST",
                    UpdateTargetId = "divMessage" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Uređivanje računa</h4>
        @Html.HiddenFor(model => model.Account.Id)
        @if (Model.StatusList != null)
        {
            @*for (var i = 0; i < Model.StatusList.Count(); i++)
            {
                @Html.HiddenFor(m => m.StatusList[i])
            }*@
        }

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => Model.Account.Code)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Account.Code, new { disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => Model.Account.Name)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Account.Name)
                @Html.ValidationMessageFor(model => model.Account.Name)
            </div>
            <script language="JavaScript">
                $(document).ready(function (e) {
                    $("#Account_Name").autocomplete({
                        minLength: 3,
                        source: function (request, response) {
                            $.ajax({
                                url: '@Url.Action("GetNameAutocomplete", "BankAccount")',
                                data: {
                                    term: request.term
                                },
                                dataType: "json",
                                type: "POST",
                                beforeSend: function () {
                                    //$(".progress-bar").animate({
                                    //    width: "100%"
                                    //}, 1000);
                                },
                                success: function (data) {
                                    //$(".progress-bar").stop();
                                    //$(".progress-bar").animate({
                                    //    width: "0%"
                                    //}, 20);
                                    response($.map(data, function (value) {
                                        return {
                                            label: value.Value,
                                            value: value.Code,
                                            code: value.Code
                                        };
                                    }));
                                }
                            });
                        }
                    });
                });
            </script>

        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => Model.Account.IBAN)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Account.IBAN)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => Model.Account.Status)
            </div>
            <div class="col-md-10">
                @if (Model.StatusList != null)
                {
                    foreach (var item in Model.StatusList)
                    {
                        @Html.RadioButtonFor(model => model.Account.Status, item)
                        <label>@item</label>
                    }
                }
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
               
            </div>
        </div>
        <div class="form-group">
            <div id="divMessage" class="col-md-offset-2 col-md-10">
                Poruka: @Model.Message
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
